# Python cache
__pycache__/
*.pyc
*.pyo

# Experiment outputs
runs/
temp/

# Local/IDE
.DS_Store
.vscode/

# 큰 결과물 폴더
mnist_cDDPM/runs_cDDPM0114/train1/
mnist_cDDPM/runs_cDDPM0114/train2/
mnist_cDDPM/temp/

